.demo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-app-main {
  width: 80%;
  max-width: 1000px;
  padding: 30px;
  box-sizing: border-box;
  
}

.demo-app-sidebar {
  width: 80%;
  max-width: 800px;
  padding: 10px;
  box-sizing: border-box;
}

.demo-app-sidebar-section {
  border-top: 1px solid #ddd;
  padding-top: 2px;
  width: 100%;
}

.fc {
  width: 100%;
  height: auto;
}
